
*.db-shm

.vs/PipelinePrinciple/v16/Browse.VC.db

*.manifest

*.ipch

*.tlog

PipelinePrinciple/x64/Debug/

*.db-wal

*.testlog

*.pdb

*.opendb

.vs/PipelinePrinciple/v16/.suo
x64/Release/UnitTests.exe.gta.testdurations
x64/Release/UnitTests.exe
*.exe
*.log
*.obj
*.exe
*.log
*.db
*.db
